.item {
  overflow: hidden;

  &_pair {
    padding-right: 0;

    &:hover {
      cursor: pointer;
      background-color: aqua;
    }
  }

  &.selected {
    background-color: aqua;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .slide-fade-enter-active {
    transition: all .8s cubic-bezier(0, 0.7, 0.9, 1.0);
  }

  .slide-fade-enter {
    background-color: deeppink;
    opacity: 0;
  }
}
